---
layout: default
---

<div class="main-content" tabindex="-1">
  <section class="main-container">
    <div class="container">

      <section class="mission">
        <div class="underlined-headline">
          <h2>Our Mission</h2>
          <hr>
        </div>
        <p class="large">Girl Develop It is a nonprofit organization that exists to provide affordable and judgment-free opportunities for women interested in learning web and software development. Through in-person classes and community support, Girl Develop It helps women of diverse backgrounds achieve their technology goals and build confidence in their careers and their every day lives.</p>
      </section>

      <div class="vision">
        <h3 class="subtitle">[ Our Vision ]</h3>
        <p>Our vision is to create a network of empowered women who feel confident in their abilities to code and build beautiful web and mobile applications. By teaching women around the world from diverse backgrounds to learn software development, we can help women improve their careers and confidence in their everyday lives.</p>
      </div>

      <div class="values">
        <h3 class="subtitle">[ Our Values ]</h3>
        <p>We are committed to making sure women of all races, education levels, income and upbringing can build confidence in their skill set to develop web and mobile applications. Our goal is to provide powerful hands-on programs to women seeking professional help in software development and create basic to advanced web and mobile applications.</p>
      </div>

    </div>

    <section class="story">
      <div class="container">
        <div class="underlined-headline">
          <h2>Our Story</h2>
          <hr>
        </div>
        <p class="large">The Dayton Girl Develop It chapter was founded June 2015. We meet regularly for Code & Coffee events at Proto Build Bar. </p>
      </div>
    </section>


    <div class="container">
      <div class="headline">
        <img alt="Flourish" src="{{ site.baseurl }}/img/flourish.png" />
        <h2>Our Leadership</h2>
      </div>

      {% for currBio in site.data.about_bios.leadership %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
          <div class="profile-right">
        {% else %}
          <div class="profile-left">
        {% endif %}
        <img alt={% if currBio.imagename %}"{{currBio.imagename}}"{% else %}"{{currBio.name}}"{% endif %} src="{{ currBio.image | prepend: site.baseurl }}" />
        <h3 class="dashedLineBelow">{{currBio.name}}{% if currBio.title %}, {{currBio.title}} {% endif %}</h3>

         <br class="clear" />
        <p>
          {{currBio.bio}}
        </p>
        {% for sociallink in currBio.sociallinks %}
           {% if forloop.first %}<div class="social_links">{% endif %}
           <a target="_blank" href="{{sociallink.link}}" aria-label="{{currBio.name}} {{sociallink.label}}">
             <i class="{{sociallink.iconclass}}"></i>
           </a>
           {% if forloop.last %}</div>{% endif %}
        {% endfor %}
      </div>

      {% endfor %}
    </div>

{% if site.data.about_bios.staff %}
    <div class="container">
      <div class="headline">
        <img alt="Flourish" src="{{ site.baseurl }}/img/flourish.png" />
        <h2>Our Staff</h2>
      </div>

      {% for currBio in site.data.about_bios.staff %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
          <div class="profile-right">
        {% else %}
          <div class="profile-left">
        {% endif %}
        <img alt={% if currBio.imagename %}"{{currBio.imagename}}"{% else %}"{{currBio.name}}"{% endif %} src="{{ currBio.image | prepend: site.baseurl }}" />
        <h3 class="dashedLineBelow">{{currBio.name}}{% if currBio.title %}, {{currBio.title}} {% endif %}</h3>

         <br class="clear" />
        <p>
          {{currBio.bio}}
        </p>
        {% for sociallink in currBio.sociallinks %}
           {% if forloop.first %}<div class="social_links">{% endif %}
           <a target="_blank" href="{{sociallink.link}}" aria-label="{{currBio.name}} {{sociallink.label}}">
             <i class="{{sociallink.iconclass}}"></i>
           </a>
           {% if forloop.last %} </div>{% endif %}
        {% endfor %}
      </div>

      {% endfor %}

    </div>
  {% endif %}

  </section>
</div>
