//The stylesheets for this project are structured using SMACSS (Scalable and Modular Architecture for CSS)
//https://smacss.com

//STATES: state-based changes

@include breakpoint-desktop {

    //layout/main.scss
    .container {
        width: 965px;
    }

    //modules/home-page.scss
    .opener {
        height: 400px;

        h1 {
            font-size: 5rem;
            padding: 10rem 1rem 0 1rem;
            line-height: 4rem;
        }
        h2 {

            font-size: 3.25rem;
            //padding: 1rem 1rem .5rem 1rem;
            line-height: 4rem;           

        }
        .hide {
            display: inline;
        }
    }

    //modules/events.scss
    .event-list {
        article.card {
            width: 70%;
            margin: 15px;

            .title {
                font-size: 1.7em;
            }
        }
    }

    //modules/about.scss
    .profile-left {
        float: left;
        width: 48.5%;
        margin-right: 3%;

        img {
            width: 228px;
        }
    }

    .profile-right {
        float: left;
        width: 48.5%;

        img {
            width: 228px;
        }
    }

    //modules/materials.scss
    .materials-list {
        width: 100%;
    }

    .material-container {
        width: 48%;
    }
}

@include breakpoint-widescreen {
    .event-list {
        width: 70%;

        article.card {
            width: 70%;
        }
    }

    //modules/materials.scss
    .materials-list {
        width: 965px;
    }
}
