//The stylesheets for this project are structured using SMACSS (Scalable and Modular Architecture for CSS)
//https://smacss.com

//STATES: state-based changes

@include breakpoint-desktop {

    //modules/home-page.scss
    .opener {
        height: 400px;

        h1 {
            font-size: 3.5rem;
            padding-top: 150px;
        }
    }

    //modules/events.scss
    .event-list {
        article.card {
            width: 30%;
            margin: 25px;

            .thumb {
                @include size(auto, 200px);
            }
        }
    }
}

@include breakpoint-widescreen {
    .event-list {
        width: 60%;

        article.card {
            width: 30%;
        }
    }
}
