
          {% for event in site.data.meetup-events %}
        <article class="card">
            <div class="infos">
                <h3 class="title">{{ event.name }}</h3>
                <p class="date">{{ event.time) | divided_by: 1000 | time_zone: -5 | date: '%B %-d, %Y | %-I:%M%P'  }} </p>
                <a href={{ event.link }} class="button">RSVP</a>
                <div class="details">
                <p>{{ event.description | truncatewords: 80}} <a href="{{event.link}}">[more]</a></p>
                </div>
            </div>
        </article>
    {% endfor %}
