<div>
    <p>GDI classes and workshops are designed for and targeted at adult women, aged 18 and older.  There are many great organizations serving young girls as well as online resources. Here are a few:</p>
    <p>Online learning resources:</p>
    <ul>
        <li><a href="https://code.org/" target="_blank">Code.org</a></li>
        <li><a href="https://www.codecademy.com/" target="_blank">Codecademy</a></li>
        <li><a href="https://www.codeschool.com/" target="_blank">CodeSchool</a></li>
        <li><a href="https://www.bloc.io/" target="_blank">Bloc</a></li>
        <li><a href="https://teamtreehouse.com/" target="_blank">Treehouse</a></li>
    </ul>
    <p></p>
    <p>Organizations serving younger girls:</p>
    <ul>
        <li><a href="http://www.blackgirlscode.com/" target="_blank">Black Girls Code</a></li>
        <li><a href="http://www.techgirlz.org/" target="_blank">TechGirlz</a></li>
        <li><a href="http://girlswhocode.com/" target="_blank">Girls Who Code</a></li><p></p>
    </ul>
</div>