footer {
  text-align: center;
  min-height: 190px;
  background-color: $navy;
  padding: 20px 0;
  width: 100%;

  p.subtitle{
    @include $breakpoint-mobile {
      font-size: .75em;
    }
    a {
      color: $white;
    }
  }
  .navigation {
    margin-top: 25px;
    a {
      color: $white;
      font-style: italic;
      font-weight: 300;
      font-size: .9rem;
      letter-spacing: .05rem;
      padding: 0 1rem;
      margin-bottom: 0em;
      text-decoration: underline;
      &:hover {
        color: $gold;
      }
      i {
        font-size: 1.1rem;
        color: $gold;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  .subtitle {
    color: $paleblue;
    font-weight: 300;
    margin-bottom: -1px;
  }
  #mce-EMAIL{
    margin:.5rem 0;
    padding:8px;
  }
  #mc-embedded-subscribe{
    margin-top:.35em;
    cursor:pointer;
  }
}
