.site-header {
  background-color: $pink;

  @include breakpoint-tablet {
    height: 100px;
  }
}

.site-header-container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 965px;
  justify-content: space-between;
  align-items: center;

  @include breakpoint-tablet {
    align-items: flex-start;
  }
}

.logo-link {
  padding: 1rem 0;
  max-width: 14.5rem;
  box-sizing: border-box;
}

.logo {
  max-width: 100%;
  height: auto;
}

.navigation-list {
  text-align: right;
  margin-left: 1rem;
  flex-grow: 2;

  @include breakpoint-tablet {
    display: flex;
  }
}

.navigation-item {
  display: block;

  @include breakpoint-tablet {
    display: inline-block;
  }
}

.navigation-link {
  text-transform: lowercase;
  color: $white;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  display: inline-block;
  padding: 0.375rem 0.5rem;
  transition: background-color ease-in-out 150ms;

  @include breakpoint-tablet {
    padding: 3rem 0.5rem;
  }

  @include breakpoint-desktop {
    padding: 3rem 1rem;
  }

  &:hover {
    background-color: $black;
    color: $blush;
  }

  &.is-active,
  &.is-active:hover {
    background-color: $black;
    color: $white;
    cursor: default;
  }
}

.skiplink {
  $skipnav-transition: top 1s ease-out, background 1s linear;
  $skipnav-transition--focus: top 0.1s ease-in, background 0.5s linear;
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: $red;
  background: transparent;
  -webkit-transition: $skipnav-transition;
  -moz-transition: $skipnav-transition;
  transition: $skipnav-transition;
  z-index: 100;

  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    background: $white;
    outline: 0;
    -webkit-transition: $skipnav-transition--focus;
    -moz-transition: $skipnav-transition--focus;
    transition: $skipnav-transition--focus;
  }
}
