.errors {
    text-align: center;
    background: asset-url('photo3.png');
    background-size: 141% auto;
    background-color: #F8F8F6;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: 50% 39%;
    height: 200px;
    width: 100%;

    h1 {
        color: $navy;
        font-size: 2.5rem;
        font-weight: 400;
        padding-top: 50px;
        height: auto;
        width: 100%;
    }

    img {
        height: 80px;
        margin-bottom: -8px;
    }

    a {
        border-bottom: 1px dashed #F95A61;
        padding-bottom: 0.2rem;

        &:hover {
            color: #F95A61;
        }
    }
    }
