.event-list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	article.card {
		max-width: 70%;
		text-align:left;
		border-radius:$border-radius;
		margin: 15px 0;
		box-shadow:$box-shadow;
		overflow:hidden;

		.infos {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: auto;
			padding: 14px 24px;
			background:$white;

			.title {
				letter-spacing: 3px;
				margin-top: 1em;
				color:$big-stone;
				text-transform: uppercase;
				text-shadow: 0 0 0px lighten($big-stone, 20);
			}
			
			.date {
				color:$lite-big-stone;
				font-family: $grotesque-regular;
				margin: 5px;
			}

			.details {

				p {
					margin: 1em;
					padding: 0 1em;
					font-size: .875rem;
					letter-spacing: .03rem;
				}
			}

			img {
				width: 100%;
				margin: 0 auto;
			}
			
			.button {
				font-size: 1.3em;
				margin-top: .5em;
				padding: .5em;
			}
	}
}
}