.event-list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	article.card {
		width: 80%;
		text-align:left;
		border-radius:$border-radius;
		margin: 25px 0;
		box-shadow:$box-shadow;
		overflow:hidden;
		//
		.thumb {
		 	@include size(auto, 200px);
		 	background: no-repeat center center;
			background-size:cover;
			border-radius:$border-radius;
		}

		.infos {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			width: auto;
			height: 150px;
			padding:14px 24px;
			background:$white;

			.title {
				letter-spacing: 3px;
				margin: 0;
				color:$big-stone;
				text-transform: uppercase;
				text-shadow: 0 0 0px lighten($big-stone, 20);
			}

			.date {
				color:$lite-big-stone;
				font-family: $grotesque-regular;
			}

			.details {
				letter-spacing: 1px;
				color:$smalt-blue;
				font-family: $grotesque-black;
				text-transform: uppercase;
				text-decoration: none;
				cursor:pointer;
			}
		}
	}
}
