.event-list {
	width: 100%;

  @include breakpoint-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

	article.card {
		width: 80%;
		text-align: left;
		border-radius: $border-radius;
		margin: 1em auto;
		box-shadow: $box-shadow;
		overflow: hidden;

    @include breakpoint-tablet {
      width: 50%;
      flex-basis: calc(50% - 2em); // This properly resizes the width within Flexbox
      margin: 1em;
    }

    @include breakpoint-desktop {
      width: 30%;
      flex-basis: calc(30% - 2em); // This properly resizes the width within Flexbox
    }

		.thumb {
      width: 100%;
		 	background: no-repeat center center;
			background-size: cover;
			border-radius: $border-radius;

      &::after {
        display:block;
        content:'';
        padding-top: 50%;
      }
		}

		.infos {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			width: auto;
			height: 150px;
			padding: 14px 24px;
			background: $white;

			.title {
				letter-spacing: 3px;
				margin: 0;
				color:$big-stone;
				text-transform: uppercase;
				text-shadow: 0 0 0px lighten($big-stone, 20);
			}

			.date {
				color:$lite-big-stone;
				font-family: $grotesque-regular;
			}

			.details {
				letter-spacing: 1px;
				color: $smalt-blue;
				font-family: $grotesque-black;
				text-transform: uppercase;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}
