.gdi-mission {
  text-align: center;
  margin: 20px 0 50px;
}

.sponsors{
  margin-bottom: 50px;

  .large {
    text-align: center;
    margin-top: 20px;
  }

  p {
    color: $black;
  }
}

.sponsor-logos {
  text-align: center;

  img {
    margin: 1em;
    max-width: 100%;
  }
}

.partners {
  @extend .sponsors;
}

.partner-logos {
  @extend .sponsor-logos;
}

.supporters {
  p {
    text-align: center;
  }
}
.logo {
  display: inline-flex;
  padding: 0 20px;
}
.logo-container {
  align-content: center;
}
.margintop{
  margin-top: 2em;
}
.list-to-support{
  margin: 1em auto;
  ul{
    list-style: none;
    text-decoration: none;
  }
  li{
    text-align: center;
  }
}
h3:last-child {
  margin-top: 1.5em;
  text-align: center;
}

.supporters{
  text-align: center;
  div:last-child{
    margin-top: 2em;
  }
  a{
    color:#01595F;
    &:hover{
      color:#f95a61;
    }
  }
  .slack-link{
    display: block;
    margin-top: 1em;
  }
}