.mission-statement {
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  position: relative;
  padding: 0px 0px 50px 0px;

  h2 {
    margin-top: 60px;
  }

  hr {
    width: 100%;
  }

  p {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  a.subtitle {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.map {
  background-color: $paleblue;
  height: 100%;
  text-align: center;
  padding-bottom: 30px;

  h2 {
    padding-top: 60px;
    width: 90%;
  }
}

.stats-section {
  text-align: center;

  .stats {
    text-align: center;
    @include span-columns(4);
    @include omega(3n);

    img {
      width: 100%;
      padding: 0px 50px;
      margin-top: 60px;
      margin-bottom: 25px;
    }

    p {
      padding: 0px 30px;
      margin-bottom: 60px;
    }
  }
}

.press-logos {
  height: 180px;
  background-color: $black;
  text-align: center;
  padding: 30px 0px;

  img {
    height: 60px;
  }

  h3 {
    color: $gold;
    margin-bottom: 20px;
  }
}
