.opener {
    text-align: center;
    background: url('../img/GDI_buttons_image3.jpg') $paleblue no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    width: 100%;
    background-position: 10% 0%;

    h1 {
        color: white;
        font-weight: 400;
        height: auto;
        width: 100%;
        font-size: 2.5rem;
        padding-top: 30px;
        line-height: 4rem;
    }

    img {
        height: 80px;
        margin-bottom: -8px;
    }
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        -ms-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        -ms-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


.mission-statement {
    @include span-columns(10);
    @include shift(1);
    text-align: center;
    position: relative;
    padding: 0px 0px 50px 0px;

    h2 {
        margin-top: 60px;
    }

    hr {
        width: 100%;
    }

    p {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    a.subtitle {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

.map {
    background-color: $paleblue;
    height: 100%;
    text-align: center;
    padding-bottom: 30px;

    h2 {
        padding-top: 60px;
        width: 90%;
    }
}

.stats-section {
    text-align: center;

    .stats {
        text-align: center;
        @include span-columns(4);
        @include omega(3n);

        img {
            width: 100%;
            padding: 0px 50px;
            margin-top: 60px;
            margin-bottom: 25px;
        }

        p {
            padding: 0px 30px;
            margin-bottom: 60px;
        }
    }
}

.press-logos {
    height: 180px;
    background-color: $black;
    text-align: center;
    padding: 30px 0px;

    img {
        height: 60px;
    }

    h3 {
        color: $gold;
        margin-bottom: 20px;
    }
}
