.gdi-mission {
  text-align: center;
  margin: 20px 0 50px;
}

.sponsors{
  margin-bottom: 50px;

  .large {
    text-align: center;
    margin-top: 20px;
  }

  p {
    color: $black;
  }
}

.sponsor-logos {
  text-align: center;

  img {
    margin: 1em;
    max-width: 100%;
  }
}

.partners {
  @extend .sponsors;
}

.partner-logos {
  @extend .sponsor-logos;
}

.supporters {
  p {
    text-align: center;
  }
}
.logo {
  display: inline-flex;
  padding: 0 20px;
}
.logo-container {
  align-content: center;
}
