.event-list {
	@include outer-container;
}

article.card {
	@include span-columns(4);
	float: none;
	height: $card-height;
	text-align:left;
	border-radius:$border-radius;
	margin: 25px;
	box-shadow:$box-shadow;
	overflow:hidden;

	.thumb {
		@include size(auto, $thumb-height);
		background: no-repeat center;
		background-size:cover;
		border-radius:$border-radius;
	}

	.infos {
		@include size(auto, 40%);
		position:relative;
		padding:14px 24px;
		background:$white;

		.title {
			position:relative;
			margin: 10px 0;
			letter-spacing: 3px;
			color:$big-stone;
			text-transform: uppercase;
			text-shadow: 0 0 0px lighten($big-stone, 20);
		}

		.date {
			margin-bottom: 5px;
			color:$lite-big-stone;
			font-family: $grotesque-regular;
		}

		.details {
			@include pos(absolute, $left:0, $bottom:0);
			margin: 10px 0;
			padding:20px 24px;
			letter-spacing: 1px;
			color:$smalt-blue;
			font-family: $grotesque-black;
			text-transform: uppercase;
			text-decoration: none;
			cursor:pointer;
		}
	}
}
