<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no" />
    <title>Girl Develop It</title>
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.png" />
    <link href="{{ site.baseurl }}/css/application.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" media="none" onload="if(media!='all')media='all'" />

</head>

<body>
    <div id="wrapper">
        <a class="skiplink" href="#main-content">Skip to main content</a>

        {% include header.html %}

        {{ content }}

        <footer>
            <div class="container">
                <div class="footer">




        </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-92693101-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
