// Breakpoint Mixins

@mixin breakpoint-mobile{
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @media (min-width: #{$mobile-max-width + 1}) {
    @content;
  }
}

@mixin breakpoint-tablet-min-max {
  @media (min-width: #{$mobile-max-width + 1}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin breakpoint-desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin breakpoint-widescreen {
  @media (min-width: #{$widescreen-min-width}) {
    @content;
  }
}

// Positioning Mixins

@mixin pos($pos, $left:null, $top:null, $right:null, $bottom:null) {
  position:$pos;
  left:$left;
  @if $top { top: $top; }
  @if $left { left: $left; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
}

@mixin size($width, $height) {
  width:$width;
  height:$height;
}
