//Font Stack
$body-font-stack: "Roboto", Helvetica, Arial, sans-serif;

//Colors
$pink: #f95a61;
$black: #282828;
$blush: #fbcfc6;
$gold: #d8ae64;
$green: #074232;
$gray: #2d2e2e;
$paleblue: #e4e9e5;
$navy: #2a4758;
$white: #ffffff;
$linkcolor: #01595F;
$red: #da141e;
$mauve: #a05258;

//Breakpoints
$mobile-max-width: 500px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;

@mixin breakpoint-mobile{
    @media (max-width: #{$mobile-max-width}) {
        @content;
    }
}

@mixin breakpoint-tablet {
    @media (min-width: #{$mobile-max-width + 1}) {
        @content;
    }
}

@mixin breakpoint-tablet-min-max {
    @media (min-width: #{$mobile-max-width + 1}) and (max-width: #{$tablet-max-width}) {
        @content;
    }
}

@mixin breakpoint-desktop {
    @media (min-width: #{$desktop-min-width}) {
        @content;
    }
}

//
