//Font Stack
$body-font-stack: "Roboto", Helvetica, Arial, sans-serif;

//Colors
$pink: #f95a61;
$black: #282828;
$blush: #fbcfc6;
$gold: #d8ae64;
$green: #074232;
$gray: #2d2e2e;
$paleblue: #e4e9e5;
$navy: #2a4758;
$white: #ffffff;
$linkcolor: #01595F;
$red: #da141e;
$mauve: #a05258;

//Breakpoints
$mobile-max-width: 500px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;

$breakpoint-mobile: new-breakpoint(max width $mobile-max-width);
$breakpoint-tablet: new-breakpoint(min-width 501px);
$breakpoint-tablet-min-max: new-breakpoint(min-width 501px max-width $tablet-max-width);
$breakpoint-desktop: new-breakpoint(min-width $widescreen-min-width);

//
