//Font Stack
$body-font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$grotesque-black: "Grotesque Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
$grotesque-regular: "Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
$merriweather: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Colors
$pink: #f95a61;
$black: #282828;
$blush: #fbcfc6;
$gold: #d8ae64;
$green: #074232;
$gray: #2d2e2e;
$paleblue: #e4e9e5;
$navy: #2a4758;
$white: #ffffff;
$off-white: #F8F8F6;
$linkcolor: #01595F;
$red: #da141e;
$mauve: #a05258;
$big-stone: #152536;
$white: #fff;
$smalt-blue: #4e958b;
$black: #000;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
$box-shadow: rgba($black, 0.3);

//Breakpoints
$mobile-max-width: 600px;
$tablet-max-width: 900px;
$desktop-min-width: 901px;
$widescreen-min-width: 1201px;

//miscellaneous
$card-width-small: 310px;
$card-height-small: 310px;
$card-width-large: 400px;
$card-height-large: 400px;

$thumb-height-small: 180px;
$thumb-height-large: 260px;

$border-radius: 3px;
$box-shadow: 0 1px 4px $box-shadow;
$transition: cubic-bezier(0.17, 0.67, 0.5, 1.03);
$timing-1: 0.4s 0.15s;
$timing-2: 0.5s 0.25s;
